<!DOCTYPE html>
<html>
    <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>

    <meta http-equiv='Content-Type' content='text/html' charset='UTF-8'>

    {% block keywords %}{% endblock %}

        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon" />

        <script src='js/jquery-1.11.3.js'></script>

        <meta name='apple-mobile-web-app-capable' content='yes'>

        <meta name='application-name' content='7chan Radio'>

    {% block scripts %}{% endblock %}
    {% endblock %}
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>