{% extends "base.html.twig" %}

{% block title %}{{ page }}{% endblock %}
{% block head %}
    {{ parent() }}
    {% block keywords %}
    <meta name="keywords" content="7chan Radio, {{ meta }}">
    {% endblock %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">7chan Radio</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <h1>7chan Radio</h1>
            <p class="lead">Just slightly worse than the music you were going to listen to anyway<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
        </div>
        <div id="about">
            <h1>Dick Butt</h1>
            <p class="lead">Dicks everywhere</p>
        </div>
        
    </div><!-- /.container -->
{% endblock %}