{% extends "base.html.twig" %}

{% block title %}{{ page }}{% endblock %}
{% block head %}
    {{ parent() }}
    {% block keywords %}
        <meta name='keywords' content='FTW, FTW Portal, {{ meta }}'>
    {% endblock %}
{% endblock %}
{% block scripts %}
    <script type='text/javascript'>
        $(function() {
            $( "input[type=submit], a, .jbutton" ).button();
        });
        $(document).ready(function() {
            setTimeout(function() {
                $( ".notify" ).fadeOut(1000, function () {
                    $( ".notify" ).css({"visibility":"hidden",display:"block"}).slideUp();
                });
            }, 3500);
        });
    </script>
{% endblock %}
{% block content %}
    <div style='clear: both;'>
        <form method='post' action='/' class='nyicp'>
            <h1><img src='/img/NYI.png' class='nyiloginlogo' alt='NYI' title='NYI' />
                <img src='/img/ftw_logo.png' class='ftwloginlogo' alt='NYI' title='FTW Portal' />
            </h1>
            <label title='Username'>
                <span>Username: </span>
                <input id='user' type='text' maxlength='24' name='user' value='' placeholder='Enter Username'/>
            </label>
            <label title='Password'>
                <span>Password: </span>
                <input id='pass' type='password' maxlength='24' name='pass' value='' placeholder='Enter Password'/>
            </label>
            <label title='Login'>
                <span>&nbsp;</span>
                <input type='submit' value='Login' id='jbutton' />
            </label>
        </form>
    </div>
{% endblock %}