{% extends "base.html.twig" %}

{% block title %}{{ page }}{% endblock %}
{% block head %}
    {{ parent() }}
    {% block keywords %}
    <meta name='keywords' content='7chan Radio, {{ meta }}'>
    {% endblock %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#jquery_jplayer_1").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    m4a: "/media/mysound.mp4",
                    oga: "/media/mysound.ogg"
                });
            },
            swfPath: "/js",
            supplied: "m4a, oga"
        });
    });
    </script>
{% endblock %}
{% block content %}
<img src='img/7chanRadioLogo.png'>
<div id="jquery_jplayer_1"></div>
<div id="jp_container_1">
    <a href="#" class="jp-play">Play</a>
    <a href="#" class="jp-pause">Pause</a>
</div>
{% endblock %}